background-rect {
margin: 0 auto;
height: 100%;
width: 100%;
background: #E0DA8E;
position: relative;
}
outer-rect {
height: 200px;
width: 275px;
position: relative;
margin: 0 100%;
background: #898329;
}
